<center><h1>My Coupons</h1> </center>

<div class="container">
  <p><%= link_to "Add New Coupon", new_merchant_coupon_path unless @merchant.reach_coupon_limit? %></p>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Coupon ID</th>
        <th scope="col">Coupon Name</th>
        <th scope="col">Value</th>
        <th scope="col">Item</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @coupons.each do |coupon| %>
        <section id='coupon-<%= coupon.id %>'>
          <tr>
            <td>#<%= coupon.id %></td>
            <td><%= coupon.name %></td>
            <% if coupon.is_percent %>
              <td><%= number_to_percentage(coupon.value, precision: 0) %> OFF</td>
            <% else %>
              <td><%= number_to_currency(coupon.value) %> OFF</td>
            <% end %>
            <td><%= coupon.item_name(coupon.item_id) %></td>
            <td>
              <% if coupon.is_enabled %>
                <p>Enabled</p>
                <%= link_to "Disable", "/merchant/coupons/#{coupon.id}/update_status", method: :patch, class: "btn btn-danger"%>
              <% else %>
                <p>Disabled</p>
                <%= link_to "Enable", "/merchant/coupons/#{coupon.id}/update_status", method: :patch, class: "btn btn-success"%>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_merchant_coupon_path(coupon), class: "btn btn-info" %>
              <%= link_to "Delete", merchant_coupon_path(coupon), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </td>
          </tr>
        </section>
      <% end %>
    </tbody>
  </table>
</div>
