<h1> Update User Profile</h1>
<section id= "user-profile-edit-form">
  <%= form_for(@user, url: profile_path)  do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name%>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit 'Update Profile' %>
  <% end %>
</section>
