
<div class="jumbotron">
  <section id="user-info-<%=@user.id %>">
    <h1 class="display-4">Hello, <%= @user.name %>!</h1>
    <br>

    <%= image_tag profile_img.sample, class: 'profile-img' %>
    <br>
    <center>
      <p class="lead">Address: <%= @user.default_address %></p>
      <p class="lead">Email: <%= @user.email %></p>
    </center>
  </section>


<br>
<center>
  <section id= "user-profile-actions">
    <%= link_to "Edit Password", "profile/edit_password", class: "btn btn-success" %>

    <%= link_to "Edit Profile", "profile/edit", class: "lead btn btn-info" %>

    <%= link_to "My Orders", "/profile/orders", class: "btn btn-secondary" %>
  </section>
</center>
</div>

<div class="container my-addresses">
  <h3 display="display-3">My Addresses</h3><br>
  <%= link_to "Add New Address", profile_addresses_new_path, class: "btn btn-success" %>
  <br>
  <div class="row">
    <% @user.addresses.each_with_index do |address, i| %>
     <section id='address-<%= address.id %>'>
       <div class="col-lg">
         <div class="card bg-light mb-3" style="max-width: 18rem;">
           <div class="card-header">Address <%= i + 1 %></div>
           <div class="card-body">
             <h5 class="card-title"><%= address.nickname %></h5>
             <p class="card-text">
               <%= address.street %><br>
                <%= address.city %>, <%= address.state %> <%= address.zipcode %>
             </p>
           </div>
         </div>
       </div>
     </section>
    <% end %>
 </div>
</div>
