<h1>My Order</h1>

<div class="container">
  <h4>Order information</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Total # of Items</th>
        <th scope="col">Grand Total</th>
        <th scope="col">Order Initially Placed</th>
        <th scope="col">Order Last Updated</th>
        <th scope="col">Order Status</th>
      </tr>
    </thead>

    <tbody>
      <%= render partial: 'order_detail', locals:{order: @order} %>
    </tbody>
  </table>
</div>

<div class="container">
  <h4>Item information</h4>

  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Item</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Subtotal</th>
      </tr>
    </thead>
      <tbody>
        <% @order.items.each do |item| %>
            <section id='item-<%= item.id %>'>
              <tr>
                <td>
                  <%= item.name %>
                  <img id='thumbnail-<%= item.id %>'><%= image_tag item.image, class: 'img_thumbnail' %></img>
                </td>
                <td><%= item.description %></td>
                <td><%= item.price %></td>
                <td><%= @order.total_quantity(item) %></td>
                <td><%= @order.subtotal(item) %></td>
              </tr>
            </section>
          <% end %>
      </tbody>
  </table>
  <br>

  <div class="row">
    <div class="col-2">
      <section id="cancel-order">
        <%= link_to_if(@order.status == 'pending', "Cancel Order", order_cancel_path, method: :patch, class: "btn btn-danger item-buttons"){}%>
      </section>
    </div>
    <div class="col-3">
      <section id="update-shipping-address">
        <%= link_to_if(@order.status == 'pending', "Update Shipping Address", order_edit_path(@order), class: "btn btn-info item-buttons"){}%>
      </section>
    </div>
  </div>

</div>
